.left-container{
	width: 21rem;
	margin-right: 2rem;
}

/*----Header----*/

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 18.25rem;
}

header .avatar-container{
	border: 0.25rem solid deeppink;
	width: 8rem;
	height: 8rem;
	border-radius: 100%;
}
header #avatar{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

header .user-container{
	margin-top: 1.875rem;
	text-align: center;
}

header .user-container h1{
	font-size: 2rem;
	font-weight: 700;
}

header .user-container h2{
	font-weight: 300;
	font-size: 0.8125rem;
	margin-top: 0.2rem;
}



/*---Links---*/

.contacts-container{
	display: grid;
	grid-template-rows: 1fr;
	gap: 1rem;
}

.contacts-container .link-container{
	display: flex;
	align-items: center;
}

.link-container .link-icon{
	margin-right: 1rem;
}

.link-container .link{
	font-size: 0.8125rem;
}



/*---Techs---*/

.techs-container{
	flex-direction: column;
}

#techs-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.25rem;
	width: 18rem;
	margin-top: 1rem;
}
#techs-grid a{
	color: pink;
	text-align: center;
	transition: color 400ms;
	margin-bottom: 0.5rem;
}

#techs-grid a:hover{
	color: deeppink;
}

