@media(max-width:700px){
    *{
        overflow-x: hidden;
    }
    main{
        flex-direction: column;
    }
    
    .left-container{
        margin: 0;
        width: 100%;
    }

    .right-container{
        margin-top: 1rem;
    }

    .projects-grid{
        grid-template-columns: 1fr;
    }

    .post-container{
        margin-top: 1.5rem;
    }
    .posts-grid{
        /* grid-template-columns: 1fr 1fr; */
        margin-top: 1rem;
        overflow-x: hidden;
    }

    .post-cover-container{
        display: none;
    }
}